@use 'vars' as *;
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px;
  height: 400px;
  width: 90%;

  .card {
    flex-basis: calc(100% / 6);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 200px;
    margin-top: 20px;
    padding: 0 10px
  }

  figure {
    height: 160px;
    width: 100px;
    margin: 10px 0 10px;
    cursor: pointer;
  }

  img {
    object-fit: cover;
    display: block;
    min-height: 160px;
    width: 100%;
    object-position: 50% 50%;
    border: 2px solid transparent;

    &:hover {
      border: 2px solid $main-blue;
    }

  }
}