@use 'vars' as *;
body {
  font-family: $main-font;
}

/* immagine fluida */
img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

ul {
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}

.flex{
  display: flex;
}
.inline{
  display: inline;
}

// Placeholder per le pagine senza contenuto
.jumbo-placeholder{
    height: 800px;
    width: 100%;
    background-image: url(../images/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
